body {
  background-image: url("bg.jpg ");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 100;
  height: max-content;
  font-family: "Mulish", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  width: fit-content;
  margin: 1em;
  z-index: 103;
  padding: 1em;
  height: center;
  display: flexbox;
  align-items: center;
  justify-content: center;
  background: #f2fbff7a;
  border-radius: 3em;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.1px);
  -webkit-backdrop-filter: blur(8.1px);
}
.center {
  padding-top: 1em;
  text-align: center;
  display: grid;
  place-items: center;
  height: max-content;
  padding-bottom: 5em;
  width: 85%;
}
.p {
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 20vw;
  line-height: 1.5vh;
}
@media (max-width: 768px) {
  p {
    font-size: 1.2em;
  }
  h2 {
    font-size: 1em;
  }
  .container {
    max-width: 95%;
    min-width: 95%;
  }
}
@media (max-width: 444px) {
  iframe {
    height: 10em;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  p {
    font-size: 1.7em;
  }
  h1 {
    font-size: 2.2em;
  }
  h2 {
    font-size: 1.8em;
  }
  .container {
    max-width: 75%;
    min-width: 75%;
  }
}

@media (min-width: 1024px) {
  p {
    font-size: 1.5em;
  }
  h1 {
    font-size: 2.2em;
  }
  h2 {
    font-size: 1.5em;
  }
  .container {
    max-width: 50%;
    min-width: 50%;
  }
}
.border {
  border-radius: 30px;
}
img {
  width: 90%;
  border-radius: 30px;
  margin-bottom: 1.5em;
  box-shadow: rgba(0, 0, 0, 0.178) 0 4px 30px;
}
h1 {
  padding-bottom: 0.5em;
}
